<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632890754562-koib0ulkodrfbbc0754hf6o8b55qgbn4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632890754562-koib0ulkodrfbbc0754hf6o8b55qgbn4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>632890754562-lgno5tjmt44u8s9hj4os850dsgrdnjre.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA8g6TfJTypgP0k27iZDpd-A6j-49fxGDA</string>
	<key>GCM_SENDER_ID</key>
	<string>632890754562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carpooingBeta</string>
	<key>PROJECT_ID</key>
	<string>carpooling-fc3b4</string>
	<key>STORAGE_BUCKET</key>
	<string>carpooling-fc3b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632890754562:ios:145912a21dbaa2adf2c91b</string>
	<key>DATABASE_URL</key>
	<string>https://carpooling-fc3b4-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>